.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        flex-direction: row;
        gap: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .wrapper {
        flex-direction: column;
        gap: 20px;
    }
}

.imgBox {
    overflow: hidden;
    object-fit: cover;
    border-radius: 27px;
    border: 1.155px solid rgba(89, 177, 122, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgBox img {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .imgBox {
        width: 364px;
        height: 284px;
    }
}

@media only screen and (min-width: 1440px) {
    .imgBox {
        height: 337px;
    }
}

.infoBox {
    border-radius: 20px;
    background: var(--white);
    padding: 20px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .infoBox {
        padding: 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .infoBox {
        padding: 20px;
    }
}

.namePriceBox {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

@media only screen and (min-width: 768px) {
    .namePriceBox {
        flex-direction: column;
        gap: 32px;
        margin-bottom: 66px;
    }
}

@media only screen and (min-width: 1440px) {
    .namePriceBox {
        flex-direction: row;
        margin-bottom: 40px;
    }
}

.name {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 4px;
}

@media only screen and (min-width: 768px) {
    .name {
        font-size: 20px;
    }
}

.text {
    color: rgba(29, 30, 33, 0.6);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5em;
}

.price {
    color: var(--black);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4em;
}

@media only screen and (min-width: 768px) {
    .price {
        font-size: 20px;
    }
}

.btnBox {
    display: flex;
    justify-content: space-between;
}

@media only screen and (min-width: 768px) {
    .btnBox {
        gap: 12px;
    }
}

.amountBox {
    border-radius: 60px;
    border: 1px solid rgba(29, 30, 33, 0.1);
    padding: 12px 18px;
    width: 108px;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
}

.amountBox button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.amountBox button svg {
    width: 20px;
    height: 20px;
}

.addToCartBtn {
    padding: 13px 32px;
    width: 140px;
    background: var(--green);
    border-radius: 60px;
    color: var(--white);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.28em;
    transition: 0.3s ease;
    cursor: pointer;
}

.addToCartBtn:hover {
    background: #3f945f;
}