.wrapper {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}

.link {
    text-decoration: none;
}

.icon {
    padding: 8px;
    border-radius: 10px;
    border: 1px solid var(--icon-border);
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease;
    cursor: pointer;
}

.icon:hover {
    border: 1px solid rgba(247, 248, 250, 0.5);
}

.icon svg {
    width: 28px;
    height: 28px;
}

/* Global border değişkeni */
:root {
    --icon-border: #dcdcdc;
    /* Örnek, theme.borders.icon yerine */
}