.heroBox {
    width: 331px;
    height: 312px;
    padding: 19px 0 91px;
    background-image: url('/images/mainbanner-mob@1x.png');
    background-size: cover;
    background-position: center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    .heroBox {
        background-image: url('/images/mainbanner-mob@2x.png');
    }
}

@media only screen and (min-width: 768px) {
    .heroBox {
        width: 704px;
        height: 508px;
        padding: 140px 64px 156px 31px;
        background-image: url('/images/mainbanner-tab@1x.png');
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .heroBox {
            background-image: url('/images/mainbanner-tab@2x.png');
        }
    }
}

@media only screen and (min-width: 1440px) {
    .heroBox {
        width: 749px;
        padding: 140px 86px 156px 54px;
        background-image: url('/images/mainbanner-desk@1x.png');
    }

    @media only screen and (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .heroBox {
            background-image: url('/images/mainbanner-desk@2x.png');
        }
    }
}

.container {
    padding-top: 197px;
    padding-bottom: 246px;
    background: var(--green);
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 768px) {
    .container {
        padding-top: 186px;
        padding-bottom: 258px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        padding-top: 73px;
        padding-bottom: 146px;
    }
}

.title {
    color: var(--white);
    font-size: 50px;
    font-weight: 600;
    line-height: 1em;
    margin-bottom: 20px;
    text-shadow: 0px 4px 85px rgba(29, 30, 33, 0.3);
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 74px;
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 1440px) {
    .title {
        width: 609px;
    }
}

.text {
    color: var(--white);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33em;
    margin-left: auto;
    width: 156px;
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 16px;
        line-height: 1.25em;
        margin-right: 19px;
        width: 207px;
    }
}

:root {
    --green: #59b17a;
    --white: #ffffff;
}