.wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    gap: 17px;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        padding-top: 80px;
        gap: 24px;
    }
}

.btnList {
    display: flex;
    align-items: center;
    gap: 4px;
}

@media only screen and (min-width: 768px) {
    .btnList {
        gap: 10px;
    }
}

.btn {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid rgba(29, 30, 33, 0.05);
    background: transparent;
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.28em;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn svg {
    width: 20px;
    height: 20px;
}

.btnCurrent {
    background: var(--green);
    color: var(--white);
}

@media only screen and (min-width: 768px) {
    .btn {
        width: 44px;
        height: 44px;
        font-size: 18px;
        line-height: 1.22em;
    }

    .btn svg {
        width: 24px;
        height: 24px;
    }
}