.btn {
    background: transparent;
    font-size: 14px;
    font-weight: 400;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    padding: 0;
}

.link {
    text-decoration: none;
}