.container {
    padding: 0 20px 80px 20px;
    background: var(--light-gray);
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 0 32px 120px 32px;
    }
}

@media only screen and (min-width: 1440px) {
    .container {
        padding: 0 128px 120px 128px;
    }
}

.title {
    color: var(--black);
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.14em;
    margin-bottom: 14px;
}

@media only screen and (min-width: 768px) {
    .title {
        font-size: 40px;
        line-height: 1.2em;
    }
}

.text {
    color: var(--gray);
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28em;
    margin-bottom: 64px;
}

@media only screen and (min-width: 768px) {
    .text {
        font-size: 16px;
        line-height: 1.25em;
        margin-bottom: 88px;
    }
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .list {
        display: flex;
        gap: 16px;
    }
}

@media only screen and (min-width: 1440px) {
    .list {
        gap: 28px;
    }
}

.item {
    position: relative;
    background: var(--back-white);
    padding: 78px 16px 32px;
    border-radius: 27px;
    border: 1px solid var(--sub-white);
    text-align: center;
}

.item h3 {
    color: var(--black);
    font-size: 20px;
    font-weight: 600;
    line-height: 1.5em;
    margin-bottom: 16px;
}

.item p {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25em;
}

@media only screen and (min-width: 768px) {
    .item {
        flex: 1;
        padding: 54px 16px 32px;
        min-width: 344px;
    }
}

@media only screen and (min-width: 1440px) {
    .item {
        padding: 54px 28px 32px;
        min-width: 382px;
    }
}

.imgBox {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
    background: var(--white);
    overflow: hidden;
}

:root {
    --light-gray: #f1f1f1;
    --sub-white: #f1f1f1;
    --back-white: #ffffff;
    --gray: #7b7b7b;
    --black: #252539;
    --white: #ffffff;
}